<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_mobile_banking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidmobilebanking"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.activity.LoginTermDialog"></activity>
        <activity
            android:name=".ui.activity.MutasiRekeningActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".ui.activity.CardDetailActivity" />
        <activity android:name=".ui.activity.CreatePinActivity" />
        <activity android:name=".ui.activity.SuccessResponseActivity" />
        <activity android:name=".ui.activity.BuyPlnActivity" />
        <activity android:name=".ui.activity.CameraFaceConfirmationActivity" />
        <activity android:name=".ui.activity.CameraKtpActivity" />
        <activity android:name=".ui.activity.CreditFinishActivity" />
        <activity
            android:name=".ui.activity.ApplyRelevanDataActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ApplyPersonalDataActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ApplyWorkDataActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.activity.ApplyDataActivity" />
        <activity android:name=".ui.activity.OtpVerificationActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.LoginPinActivity" />
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>